@import '../../variables.scss';

.nav {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    height: 2rem;
    font-size: 2rem;
    background-color: var(--color-primary);
    padding: 2rem;

    &-buttons {
        display: flex;
        align-items: center;

        .nav-username {
            color: white;
            margin-right: 2rem;
        }

        .nav-item {
            text-decoration: none;
            color: white;
            padding: .5rem 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            cursor: pointer;
    
            &:last-child {
                margin-right: 3rem;
            }
        }

        .nav-logout-button {
            background-color: transparent;
            border: 2px solid white;
            border-radius: 3rem;
            font-size: 2rem;
            height: 50%;
            outline: none;
        }
    } 
}

@media screen and (max-width: 480px) {
    .nav {
        
        .nav-buttons {
            width: 100%;
            justify-content: center;
            justify-content: space-between !important;
    
            .nav-username {
                margin-right: 0;
            }
    
            .nav-item {
                margin-left: 0;
                margin-right: 0;
    
                .nav-item:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}