@import '../../variables.scss';

.homepage {
    height: 100vh;

    &-container {
        display: flex;
        height: calc(100vh - 6rem);
    }

    &::after {
        content: '';
        position:absolute;
        z-index: -1;
        top:0;
        left:0;
        height: 100vh;
        width: 55vw;
        background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
        clip-path: polygon(0rem 0rem, 85% 0rem, 100% 100%, 0rem 100%);
        animation: slideRight .5s ease-out;
      }

    &-text-container {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55vw;
        animation: slideRight .5s ease-out;

        .homepage-text {
            font-size: 6rem;
            letter-spacing: .5rem;
            width: 95%;
            margin: 0 auto 6rem auto;
        }

        .homepage-subtext {
            font-size: 3rem;
            align-self: center;
        }
    }

    .graphic-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45vw;
        padding: 2rem;
        box-sizing: border-box;
        overflow: hidden;
    }

    &-graphic {
        width: 45rem;
        z-index: -20;
    }
}

@media screen and (max-width: 900px) {
    .homepage {

        .homepage-text {
            font-size: 3.8rem;
        }

        .homepage-subtext {
            font-size: 2rem;
        }

    .homepage-graphic {
            width: 40rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .homepage {

        &::after {
            width: 100vw;
            background-image: linear-gradient(to top, var(--color-primary), var(--color-primary-dark));
            clip-path: polygon(0 6rem, 100% calc(10% + 6rem), 100% 100%, 0 100%);
            animation: slideUp .5s ease-out;
        }

        &-container {
            flex-direction: column;
        }

        &-text-container {
            width: auto;
            flex: 1;
            animation: slideUp .5s ease-out;

            .homepage-text {
                padding-top: 6rem;
            }
        }

        .graphic-container {
            width: auto;
            flex: 1;
        }

        .homepage-graphic {
            z-index: 10;
            animation: slideUp .5s ease-out;
        }
    }
}

@media screen and (max-width: 480px) {
    .homepage {

        .homepage-text {
            font-size: 4rem;
        }

        .homepage-subtext {
            font-size: 1.8rem;
        }
    }
}

@media screen and (max-width: 350px) {
    .homepage {

        .homepage-text {
            font-size: 2.4rem;
        }

        .homepage-subtext {
            font-size: 1.6rem;
        }
    }
}