// Colors
:root {
    --color-primary: #707eff;
    --color-primary-faded: rgba(112, 126, 255, .7);
    --color-primary-superfaded: rgba(112, 126, 255, .1);
    --color-primary-dark: rgb(72, 86, 215); 
}