.toggle-button-container {
    height: 6rem;
    border-radius: .5rem 0 0 .5rem;
    clip-path: polygon(-.5px -.5px, 85% -.5px, 100% calc(100% + .5px), -.5px calc(100% + .5px));
    width: 10%;

    .toggle-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border: none;
        border-radius: .5rem 0 0 .5rem;
        background-color: #707eff;
        clip-path: polygon(-.5px -.5px, 85% -.5px, 100% calc(100% + .5px), -.5px calc(100% + .5px));
        outline: none;
        cursor: pointer;
    
        .check-icon {
            color: white;
            padding-right: 7.5%;
        }
    }
    
    .toggle-button.selected {
        background-color: #4856D7;
    }
    
    .check-icon.selected {
        color: #c8c8c8;
    }
}

@media screen and (max-width: 480px) {
    .toggle-button-container {
        height: 5rem;
    }
}