.reward-item {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 2rem;
    background-color: #4c93fd;
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .reward {
        display: flex;
        justify-content: space-between;
        width: 60%;

        #standard-basic {
            width: 40rem;
            font-size: 2rem;
        }
    }

    .to-complete {
        display: flex;
        flex-direction: column;

        .requirements-title {
            text-align: center;
        }

        .add-requirement-button {
            align-self: flex-end;
            max-width: 7rem;
    
            .add-requirement-icon {
                justify-self: flex-end;
                background-color: #2f75de;
                color: white;
                border-radius: 2rem;
                padding: 1rem;
            }
        }
    }
}