.homepage {
    height: calc(100vh - 6rem);
    background-image: url(../../assets/dailyBackground.svg);
    background-size: cover;
    position: relative;
    top: -.1rem;
    overflow: hidden;

    &-text-container {
        text-align: center;
        color: #707eff;

        .homepage-text {
            text-align: center;
            font-size: 8rem;
            letter-spacing: .5rem;
            margin-top: 7rem;
        }

        .homepage-subtext {
            font-size: 2.5rem;
        }
    }

    &-graphic {
        height: 22rem;
        position: absolute;
        bottom: 3rem;
        left: 5%;
    }
}

@media screen and (max-width: 900px) {
    .homepage {

    .homepage-graphic {
            height: 20rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .homepage {

        .homepage-text {
            font-size: 6rem;
        }

        .homepage-subtext {
            font-size: 2rem;
        }

        .homepage-graphic {
            height: 20rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .homepage {
        display: flex;
        flex-direction: column;
        align-items: center;

        .homepage-text {
            font-size: 4rem;
        }

        .homepage-subtext {
            font-size: 1.8rem;
        }

        .homepage-graphic {
            height: 18rem;
            position: static;
            margin-top: 35%;
        }
    }
}