.to-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 3.6rem;
    }

    .exit-button {
        align-self: flex-end;
        margin-right: 15%;
        color: white;
        background-color: #707eff;
        font-size: 2rem;
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        width: 12rem;
        outline: none;
        transition: all .2s;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1rem 1rem rgba(black, .2);
        }
        
        &:active {
            transform: translateY(2px);
            box-shadow: none;

        }
    }
}